{% extends "base.html" %} {% block content %}

<header>
    <title>Enter Email and Password</title>
</header>

        <main>
            <p>Sign up here</p>
            <form action="/enter_email" enctype="multipart/form-data" method="POST">
                {{template_form.hidden_tag()}}
                <p>Your email address </p>
                {{template_form.email.email}}
                {{template_form.email}}
                <br>
                <p>Your password </p>
                {{template_form.password.password}}
                {{template_form.password}}
                <br>
                {{template_form.submit}}
                <br>
            </form>
        </main>
{% endblock %}
